body{
  background-color: #EEEEEE;
}

#page {
  width: 1200px;
  height: 1200px;

  display: flex;

}

#title {
  width: 760px;
  height: 37px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 2px black;
  font-size: 22px;
  font-family: "Comic Sans MS";
  font-weight: bold;
  color: #333366;
  background-color: white;
}

#logout {
  position: absolute;
  top: 35px;
  left: 995px;
  font-family: "Comic Sans MS";
  font-size: 14px;
}


#menu-title {
  width: 720px;
  position: absolute;
  top: 120px;
  left: 245px;
  font-family: "Arial";
  font-weight: bold;
  display: flex;
}
#menu-student {
  width: 720px;
  position: absolute;
  font-family: "Arial";
  font-weight: bold;
}
#button-student{
  text-align: left;
}
#buton-discipline{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#button-term{
  text-align: right;
}
/*#menu-student > div {
  width: 33%;
  float: left;
}*/

#home {
  position: absolute;
  top: 80px;
  left: 40px;
  font-family: "Comic Sans MS";
  font-size: 12px;
  font-weight: bold;
}
#back {
  position: absolute;
  top: 80px;
  left: 140px;
  font-family: "Comic Sans MS";
  font-size: 12px;
  font-weight: bold;
}
#menu-student > button {
  border: solid 2px black;
  background-color: #cccccc;
  font-family: "Comic Sans MS";
  height: 23px;
  font-weight: bold;
  position: absolute;
}
#button-view-student{
  top: 80px;
  left: 225px;
  width: 270px;
  font-size: 10px;
}
#button-create-student{
  top: 80px;
  left: 525px;
  width: 200px;
  font-size: 11px;
}
#button-modify-student{
  top: 115px;
  left: 225px;
  width: 270px;
  font-size: 11px;
}
#button-remove-student{
  top: 115px;
  left: 525px;
  width: 200px;
  font-size: 11px;
}
#table-student {
  width: 760px;
  position: absolute;
  top: 150px;
  left: 225px;
  font-family: "Comic Sans MS";
}

#table-student > h3{
  font-size: 17px;
}
#table-student-col1{
  width: 77px;
}
#table-student-col2{
  width: 228px;
}
#table-student-col3{
  width: 250px;
}
#table-student-col4{
  width: 100px;
}
#table-student-col5{
  width: 100px;
}
.checkbox{
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
}
/* границы ячеек первого ряда таблицы */
th {
  background-color: #cccccc;
  vertical-align: bottom;
  text-align: left;
  height: 85px;
  border: 1px solid grey;
  font-size: 14px;
  font-weight: bold;
}
tr {
  height: 85px;
  vertical-align: bottom;
  text-align: left;
}
/* границы ячеек тела таблицы */
td {
  border: 1px solid grey;
  font-size: 11px;
}
#student-form {
  width: 760px;
  position: absolute;
  top: 150px;
  left: 225px;
  font-family: "Comic Sans MS";
}
#student-form h3{
  font-size: 17px;
}
#student-form label{
  text-align: right;
}
#student-form input{

}